.header{
    grid-area: header;
    background-color: #62BB85;
    
}

.header img{
    width: 140px;
    padding: 10px;
}

.login{
    float: right;
    margin: 20px 30px 0px 0px;
}

.login a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}