.response{
    padding-left: 15px;
    
    display: grid;
    grid-template-areas: 
    'like comment share';
    grid-template-columns: 7fr 8fr 2fr;
}

.like{
    grid-area: like;
}

.comment{
    grid-area: comment;
}

.share{
    grid-area: share;
}