.input{
    /* padding-left: 10px; */
    /* margin:10px; */
    /* float: left; */
    /* width: 510px; */
    /* height: 60px; */
    /* border-radius: 15px; */
    /* background-color: #F0F2F5; */
    /* border: 0.5px white;     */
}

.commText:focus{
    outline: none;
}


.myPosts{
    grid-area: myPosts;
    width: 600px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* User.jsx */
.user{
    display: grid;

    grid-template-areas: 
    'postAvatar userName'
    'postAvatar postDate'
    ;

    grid-template-columns: 1fr 10fr;
}

.userName{
    grid-area: userName;
    margin-top: 10px;
    font-weight: bold;
}

.postDate{
    grid-area: postDate;
    font-size: 12px;
    border: none;
}



/* PublishedPost.jsx  */
.text{
    margin: 15px 10px 15px 25px;
}

/* Results.jsx */

.results{
    padding-left: 15px;
    display: grid;
    grid-template-areas: 
    'countOfLike countOfComment';
    grid-template-columns: 15fr 2fr;
}

.countOfLike{
    grid-area: countOfLike;
}


.divImg{
    display: inline-block; 
    /* margin-right: 10px; */
    width: 25px;
    height: 25px;
}

.divLike{
    display: inline-block;  
    margin-left: 10px;   
}

.divCom{
    display: inline-block; 
    width: 25px;
    height: 25px; 
    margin-right: 10px;
}
.countOfComment{
    grid-area: countOfComment;  
}


/* Response.jsx */

.response{
    padding-left: 15px;
    padding-right: 17px;
    display: grid;
    grid-template-areas: 
    'like comment send';
    grid-template-columns: 7fr 6fr 2fr;
}

.like{
    display: grid;
    grid-template-areas: 
    'img like';
    margin-left: 50px;
    width: 80px;
    padding: 0px 20px;
}

.likeResponseDiv{
    grid-area: img;
}

.like > input{
    grid-area: like;
    color: #3C5D7C;
    text-align: center;
    width: 50px;
    margin-right: 100px;
    margin-top: 2px;
    background: none;
    height: 20px;
    cursor: pointer; 
    font-weight: bold;
    font-size: 15px;
    border: none;
}

.like:hover {
    background-color:#F0F2F5;
    border-radius: 7px;
    cursor: pointer; 
}

.disLike{
    display: grid;
    grid-template-areas: 
    'img like';
    margin-left: 50px;
    width: 80px;
    padding: 0px 20px;
    
}
.disLikeResponseDiv{
    grid-area: img;
}

.disLike > input{
    grid-area: like;
    color: black;
    text-align: center;
    width: 50px;
    margin-right: 100px;
    margin-top: 2px;
    background: none;
    height: 20px;
    cursor: pointer; 
    font-weight: bold;
    font-size: 15px;
    border: none;
}

.disLike:hover {
    background-color:#F0F2F5;
    border-radius: 7px;
    cursor: pointer;
}

.responseComm{
    display: grid;
    grid-template-areas: 
    'img comment';
    width: 110px;
    padding: 0px 20px;
}

.commentResponseDiv{
    grid-area: img;
}

.responseComm > input{
    grid-area: comment;
    color: black;
    text-align: start;
    width: 150px;
    margin-right: 10px;
    margin-top: 2px;
    background: none;
    font-weight: bold; 
    height: 20px;
    cursor: pointer; 
    font-size: 15px;
    border: none;
    
}

.responseComm:hover{
    background-color:#F0F2F5;
    border-radius: 7px;
    cursor: pointer; 
}

.send{
    display: grid;
    grid-template-areas: 
    'img send';
    grid-template-columns: 10fr 1fr;
    width: 90px;
    padding:0px 25px;
}

.sendResponseDiv{
    grid-area: img;
}

.send > .input{
    grid-area: send;
    color: black;
    text-align: start;
    width: 100px;
    margin-top: 2px;
    background: none;
    font-weight: bold; 
    height: 20px;
    cursor: pointer; 
    font-size: 15px;
    border: none;

}

.send:hover{
    background-color:#F0F2F5;
    border-radius: 7px;
    cursor: pointer; 
}

.responseDiv{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

}

.responseImg{
    width: 25px;
    height: 25px;
}

hr{
    margin: 4px;
    margin-left: 10px;
    padding: 0;
}


/* newPosts.jsx */

.formForPost{
    width: 100%;
}

.addCom{
    padding: 15px; 
    display: grid; 
    grid-template-areas: 
    'postAvatar text';
    grid-template-columns: 1fr 10fr;
}
.addComItem > input{
    margin:10px;
    width: 490px;
    height: 35px;
    border-radius: 15px;
    background-color: #F0F2F5;
    padding-left: 10px;
    float: left;
    border: 0.5px white; 
}

.postAvatar{
    grid-area: postAvatar;
}

.commText{
    grid-area: text;
    border: none;
    background-color: #F0F2F5;
}


/* comments.jsx */

.comments{
    padding: 15px;
}

.item{
    display: grid;
    grid-template-areas: 
    'postAvatar userName delete'
    'postAvatar comment delete'
    'postAvatar comLike delete';

    grid-template-columns: 1fr 10fr 15fr;
}

.postAvatar{
    grid-area: postAvatar;
}

.commUserName{
    grid-area: userName;
    font-weight: bold;
    padding: 5px 2px 2px 10px;
}  

.comment{
    grid-area: comment;
    padding: 0px 2px 9px 15px;
}

.comLikes{
    grid-area: comLike;
    padding-left: 18px;
    
}

.comLikes span{
    margin:0px 10px;
    font-size: 14px;
    cursor: pointer;
}

.comLove{
    color: red;
    font-weight: bold;
} 

.name_com{
    width: 200px;
    margin-left: 10px;
    /* padding: 5px; */
    border-radius: 25px;
    border:none;
    background-color:#F0F2F5;
}

.item img{ 
    border-radius: 50%;
    width: 50px;
}

/* new css */

.sendCommText{
    cursor: pointer;
    width: 130px;
    background: #0C283D;
    margin-left: 180px;
    margin-top: auto;
    border-radius:5px;
    text-align: center;
    font-weight: bold;
    color: white;
    height: 40px;
    border:none;

}

.sendCommText:hover{
    background: #3C5D7C;
    cursor: pointer;
}

.sendCommText:focus{
    outline: none;
}




.delete{
    grid-area: delete;
    display: inline-block;
    margin: 10px 6px;
    color: white;
}

.delete:hover{
    color:black;
    font-weight: bold;
    font-size: 22px;
    background:#F0F2F5;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}



/* .item:hover::after{
    content: '...';
    color: red;
    width: 30px;
    height: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 6px;
    margin: 10px;
    cursor: pointer;
    background:green;
} */