.formMassage{
    display: grid;
    grid-template-areas: 
    'postAvatar dialog';
    grid-template-columns: 1fr 15fr;
}

.dialog{
    color: black;
    padding: 3px;
    margin: 5px;
    border-radius: 10px;
    width: 150px;
    grid-area: dialog;
    background-color:#F0F2F5;
}


.postAvatar{
    display: inline-block;
    grid-area: postAvatar;
    cursor: pointer;
}