.user{
    display: grid;

    grid-template-areas: 
    'postAvatar userName'
    'postAvatar postDate'
    ;

    grid-template-columns: 1fr 10fr;
}

.userName{
    grid-area: userName;
    margin-top: 10px;
    font-weight: bold;
}

.postDate{
    grid-area: postDate;
    font-size: 12px;
    border: none;
}