.myPosts{
    grid-area: myPosts;
    width: 600px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}

.formForPost{
    width: 100%;
}

hr{
    width: 570px;
}

.coments{
    
}


.addCom{
    padding: 15px; 
    display: grid; 
    grid-template-areas: 
    'postAvatar text';
    grid-template-columns: 1fr 10fr;
}
.addComItem > input{
    margin:10px;
    width: 490px;
    height: 35px;
    border-radius: 15px;
    background-color: #F0F2F5;
    cursor: pointer; 
    padding-left: 10px;
    float: left;
    border: 0.5px white; 
}

.postAvatar{
    grid-area: postAvatar;
}

.text{
    grid-area: text;
    border: none;
    background-color: #F0F2F5;
}